{% include "components/head.njk" %}
{% include "components/header.njk" %}
  <main class="px-3">
    {% for post in pagination.items %}
      <article class="sm:text-xl md:text-2xl max-w-3xl mx-auto my-24">
        <time class="text-gray-700 text-lg">{{ post.date | polskadata }}</time>
        <h2 class="mt-3"><a class="no-underline" href="{{ post.url }}">{{ post.data.title | cudzyslowy | sierotki | safe }}</a></h2>
        {% if post.data.obrazek_wyrozniajacy %}
          <img src="{{ post.data.obrazek_wyrozniajacy }}">
        {% endif %}
        {% if post.data.zajawka %}
          {{ post.data.zajawka | markdownify | cudzyslowy | sierotki | obfuscate | safe }}
        {% endif %}
        {% if post.data.content %}
          <p><a href="{{ post.url }}">Czytaj więcej &rarr;</a></p>
        {% endif %}
      </article>
    {% endfor %}
  </main>
{% include "components/footer.njk" %}