{% include "components/head.njk" %}
{% include "components/header.njk" %}
  <main class="px-3">
    <article class="sm:text-xl md:text-2xl max-w-3xl mx-auto my-24">
      {{ content | cudzyslowy | sierotki | safe }}
    </article>
  </main>
{% include "components/footer.njk" %}