    <footer class="bg-gray-900 text-gray-100 px-3 pt-16 overflow-hidden">
      <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16">
        <div class="lg:mb-12">
          <div class="mb-4">{% include "components/logo-iso-biale.njk" %}</div>
          <p>ul. Pomorska 40 | 91-408 Łódź</p>
          <p>tel./fax: 42 630 17 49</p>
          <p>e-mail: <a class="underline" href="mailto:&#97;&#107;a&#100;&#101;&#109;i&#97;&#64;&#105;nstyt&#117;&#116;.&#108;&#111;&#100;&#122;.pl">&#97;&#107;a&#100;&#101;&#109;i&#97;&#64;&#105;nstyt&#117;&#116;.&#108;&#111;&#100;&#122;.pl</a></p>
          <ul class="mt-4">
            <li class="xs:inline mr-4"><a href="https://www.facebook.com/instytut.spraw.obywatelskich/"><svg class="inline fill-current mr-1 -mt-1" width="18" height="20"><use xlink:href="#icon-facebook"></use></svg><span class="underline">Facebook</span></a></li>
            <li class="xs:inline mr-4"><a href="https://twitter.com/InstytutSprawO"><svg class="inline fill-current mr-1 -mt-1" width="19" height="20"><use xlink:href="#icon-twitter"></use></svg><span class="underline">Twitter</a></li>
            <li class="xs:inline mr-4"><a href="https://www.youtube.com/user/INSPROmedia"><svg class="inline fill-current mr-1 -mt-1" width="20" height="20"><use xlink:href="#icon-youtube"></use></svg><span class="underline">YouTube</a></li>
          </ul>
          <p class="mt-4">NIP: 7251872505| REGON: 473224144 | KRS: 0000191928</p>
          <p>Godziny otwarcia biura: poniedziałek–piątek: 8:00–16:00</p>
          <p>Numer konta: Alior Bank: 26 2490 0005 0000 4530 3441 9579</p>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-16">
          <p class="font-caveat text-4xl text-center leading-snug skos xl:mt-16"><a href="https://instytutsprawobywatelskich.pl/">Czytaj portal Instytutu Spraw Obywatelskich!</a></p>
          <a class="px-3 flex justify-center items-end" href="https://instytutsprawobywatelskich.pl/"><img class="w-64" src="https://res.cloudinary.com/inspro/image/upload/v1589893660/aiso/strona-instytutu.jpg" alt="Strona Instytutu Spraw Obywatelskich"></a>
        </div>
      </div>
    </footer>
    <script>
      function targetBlank() {
        var wewnetrzny = location.host.replace("www.", "");
            wewnetrzny = new RegExp(wewnetrzny, "i");              
        var linki = document.getElementsByTagName('a');
        for (var i = 0; i < linki.length; i++) {
          var href = linki[i].host;
          if( !wewnetrzny.test(href) ) {
            linki[i].setAttribute('target', '_blank');
          }
        }
      };
      targetBlank();
    </script>
    {% if page.url == "/" %}
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    {% endif %}
  </body>
</html>