<body>
  <header>
    <a class="block font-bold" href="/">Akademia Instytutu Spraw Obywatelskich</a>
    <nav>
      <ul class="flex gap-4">
        <li><a href="/">Oferta</a></li>
        <li><a href="/dzieje-sie/">Dzieje się</a></li>
        <li><a href="/poznaj-nas/">Poznaj nas</a></li>
        <li><a href="/polecamy/">Polecamy</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </header>
  